html{
  box-sizing: border-box;
}

*,*::after, *::before{
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Orbitron', sans-serif;
  text-size-adjust: 1em;
  font-size: larger;
}

h1{
  margin: 0;
  font-size: 1.5em;
}

p{
  font-size: 1em;

}

button {
  border-radius: 100%;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
   transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button {
    background-color: #f0b2b2;
}

